.bcolor {
    background-color: #f2f3f5;
  }
  .black{
    color: #000;
  }
  .items-center {
    align-items: center;
  }
  .flex {
    display: flex;
  }
  .fixed {
    position: fixed;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .justify-center {
    justify-content: center;
  }
  .hidden {
    display: none;
  }
  .w-screen {
    width: 100vw !important;
  }
  .pl-10 {
    padding-left: 10px;
  }
  .pr-10 {
    padding-right: 10px;
  }
  .h-screen {
    height: 100vh !important;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  * {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  }
  .font-art {
    font-family: sans-serif;
  }
  .space-x-10 > * {
    margin-left: 1.25rem;
  }
  .space-x-10 > *:first-child {
    margin-left: 0;
  }
  .hover-color:hover {
    color: #409eff;
  }
  
  .overflow-y {
    overflow-y: auto;
  }
  .overflow-x {
    overflow-x: scroll;
  }

  /* WebKit 内核浏览器样式化 */
  ::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  /* Firefox 浏览器样式化 */
  * {
    scrollbar-width: thin; /* 滚动条宽度 */
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: gray;
  }
  a:hover,a:active {
    color: #4389e6;
  }
  .min-w-55 {
    min-width: 55vw;
  }
  .min-w-65 {
    min-width: 65vw;
  }
  .max-w-60{
    max-width: 60vw;
  }
  .max-w-70{
    max-width: 70vw;
  }
  .w-66{
    width: 66vw;
  }
  .w-56{
    width: 56vw;
  }
  .h-full{
    height: 100%;
  }
  .w-full{
    width: 100%;
  }
  .w-75{
    width: 75vw;
  }
  .w-85{
    width: 85vw;
  }
  .w-95{
    width: 95vw;
  }

.pb-15{
  padding-bottom: 15px;
}
.h-5{
  height: 5vh;
}


.dark{
  background-color: #0d1117;
}

.markdown-body h1{
  margin: 0 0 !important;
  margin-inline-start: -0.75rem !important;
}

  /* markdown标题样式更改 */
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4 {
    margin-inline-start: -0.75rem;
    padding-inline-start: 0.75rem;
    border-inline-start: 0.275rem solid #34495e;
  }
  
  .dark .markdown-body h1,
  .dark .markdown-body h2,
  .dark .markdown-body h3,
  .dark .markdown-body h4,
  .dark .markdown-body h5,
  .dark .markdown-body h6{
    border-inline-start: 0.41rem solid goldenrod;
  }
  .markdown-body h5,
  .markdown-body h6 {
    margin-inline-start: -0.75rem;
    padding-inline-start: 1rem;
    border-inline-start: 0.41rem solid #34495e;
  }

/* markdown样式更改 取消#符号 */
.markdown-body .header-anchor{
  display: none;
}